* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
}

.logo {
    margin: auto 10px;
    width: 60px;
    height: 60px;
}