.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 146, 107);
    flex-wrap: wrap;
}
.container .title {
    height: auto;
    color: white;
    text-align: center;
}
#uploadingMichi {
    display: flex;
    flex-direction: column;
}
#uploadingMichi {
    align-items: center;
}
.container-img {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}
.cat-randoms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}
#btn1,#btn2{
    width: auto;
    background-color: rgb(246, 118, 20);
}
.section {
    display: inline-flex;
    flex-direction: row;
    padding-left: 20%;
}
.load {
    height: 20px;
}
#favoriteMichis {
    display: flex;
    align-items: center;
}