body {
    color: #1B1717;
    background-color: #EEEBDD;
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-container {
    color: #EEEBDD;
    background-color: #810000;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.top {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-container h2 {
    margin: 0px;
}
.button-container{
    width: 160px;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #EEEBDD;
    padding: 8px 6px;
}
/*  white: #EEEBDD
    lightred: #CE1212
    darkred: #810000
    dark: #1B1717
*/
